DISCORD_ENABLED=true
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_OWNER_IDS=
DISCORD_ADMIN_ROLE_IDS=
DISCORD_MODERATOR_ROLE_IDS=
DISCORD_VIEWER_ROLE_IDS=
DISCORD_CONTROL_CHANNEL_ID=
DISCORD_CONFIG_CHANNEL_ID=
DISCORD_NOTIFICATION_CHANNEL_ID=
DISCORD_ERROR_CHANNEL_ID=
DISCORD_REGISTER_GLOBAL_COMMANDS=false
DISCORD_DEFAULT_EPHEMERAL=true
DISCORD_LIVE_STATUS_INTERVAL_MS=5000

MINECRAFT_HOST=
MINECRAFT_PORT=25565
MINECRAFT_USERNAME=
MINECRAFT_VERSION=
MINECRAFT_AUTH=offline
SKYBLOCK_LOGIN_PASSWORD=
